.idea/PropBank.iml
cmake-build-debug/libPropBank.a
cmake-build-debug/PropBank.cbp
cmake-build-debug/CMakeFiles/PropBank.dir/Argument.cpp.o
cmake-build-debug/CMakeFiles/PropBank.dir/build.make
cmake-build-debug/CMakeFiles/PropBank.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/PropBank.dir/cmake_clean_target.cmake
cmake-build-debug/CMakeFiles/PropBank.dir/CXX.includecache
cmake-build-debug/CMakeFiles/PropBank.dir/depend.internal
cmake-build-debug/CMakeFiles/PropBank.dir/depend.make
cmake-build-debug/CMakeFiles/PropBank.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/PropBank.dir/flags.make
cmake-build-debug/CMakeFiles/PropBank.dir/link.txt
cmake-build-debug/CMakeFiles/PropBank.dir/progress.make
cmake-build-debug/CMakeFiles/PropBank.dir/Role.cpp.o
cmake-build-debug/CMakeFiles/PropBank.dir/RoleSet.cpp.o
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/codeStyles/Project.xml
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/Makefile
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeError.log
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/feature_tests.bin
cmake-build-debug/CMakeFiles/feature_tests.c
cmake-build-debug/CMakeFiles/feature_tests.cxx
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/3.12.1/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.12.1/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.12.1/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.12.1/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.12.1/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.12.1/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.12.1/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.12.1/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.12.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.12.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.12.2/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.12.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.12.2/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.12.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/PropBank.dir/Frameset.cpp.o
cmake-build-debug/CMakeFiles/PropBank.dir/FramesetArgument.cpp.o
cmake-build-debug/CMakeFiles/PropBank.dir/FramesetList.cpp.o
cmake-build-debug/CMakeFiles/PropBank.dir/Predicate.cpp.o
cmake-build-debug/CMakeFiles/PropBank.dir/PredicateList.cpp.o
cmake-build-debug/CMakeFiles/3.12.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.12.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.12.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.12.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/TestPropBank
cmake-build-debug/CMakeFiles/TestPropBank.dir/Argument.cpp.o
cmake-build-debug/CMakeFiles/TestPropBank.dir/build.make
cmake-build-debug/CMakeFiles/TestPropBank.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/TestPropBank.dir/CXX.includecache
cmake-build-debug/CMakeFiles/TestPropBank.dir/depend.internal
cmake-build-debug/CMakeFiles/TestPropBank.dir/depend.make
cmake-build-debug/CMakeFiles/TestPropBank.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/TestPropBank.dir/flags.make
cmake-build-debug/CMakeFiles/TestPropBank.dir/Frameset.cpp.o
cmake-build-debug/CMakeFiles/TestPropBank.dir/FramesetArgument.cpp.o
cmake-build-debug/CMakeFiles/TestPropBank.dir/FramesetList.cpp.o
cmake-build-debug/CMakeFiles/TestPropBank.dir/link.txt
cmake-build-debug/CMakeFiles/TestPropBank.dir/Predicate.cpp.o
cmake-build-debug/CMakeFiles/TestPropBank.dir/PredicateList.cpp.o
cmake-build-debug/CMakeFiles/TestPropBank.dir/progress.make
cmake-build-debug/CMakeFiles/TestPropBank.dir/Role.cpp.o
cmake-build-debug/CMakeFiles/TestPropBank.dir/RoleSet.cpp.o
cmake-build-debug/CMakeFiles/TestPropBank.dir/TestPropBank.cpp.o
cmake-build-debug/CMakeFiles/3.12.3/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.12.3/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.12.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.12.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.12.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.12.3/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.12.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.12.3/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.12.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.15.3/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.15.3/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.15.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/Progress/1
cmake-build-debug/CMakeFiles/Progress/10
cmake-build-debug/CMakeFiles/Progress/11
cmake-build-debug/CMakeFiles/Progress/12
cmake-build-debug/CMakeFiles/Progress/13
cmake-build-debug/CMakeFiles/Progress/14
cmake-build-debug/CMakeFiles/Progress/2
cmake-build-debug/CMakeFiles/Progress/3
cmake-build-debug/CMakeFiles/Progress/count.txt
cmake-build-debug/CMakeFiles/3.16.5/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.16.5/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.16.5/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.16.5/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.16.5/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.16.5/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.16.5/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.16.5/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.16.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.17.3/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.17.3/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.17.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/Test.dir/
/cmake-build-debug/Testing/Temporary/
/cmake-build-debug/Test
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-969e0296f484a6694535.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-21a22608bc07ff8ee8bb.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-0c7455b6e11d266e4e9a.json
/cmake-build-debug/.cmake/api/v1/reply/index-2022-03-20T17-08-03-0666.json
/cmake-build-debug/.cmake/api/v1/reply/target-PropBank-Debug-930fb5ca724654a925e6.json
/cmake-build-debug/.cmake/api/v1/reply/target-Test-Debug-015eabecf25b363432c9.json
